.demo-1 {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.demo-1__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .loaded & {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
}



.demo-1__gallery {
  height: 104vw;
  position: relative;
  visibility: hidden;

}

.demo-1__gallery__figure {
  position: absolute;
  height: 24vw;
  width: 15vw;

  &:nth-child(1) {
    top: 0;
    left: 0;
  }

  &:nth-child(2) {
    left:0;
    top: 26vw;
  }

  &:nth-child(3) {
    left: 0;
    top: 52vw;
  }

  &:nth-child(4) {
    left: 0;
    top: 78vw;
  }

  &.img-2{
    left: 17vw;

    &.img-2-1{
      top: 10vw;
    }
    &.img-2-2{
      top:36vw;
    }
    &.img-2-3{
      top:62vw;
    }
    &.img-2-4{
      top:88vw;
    }
  }

  &.img-3{
    left: 34vw;

    &.img-3-1{
      top: 20vw;
    }
    &.img-3-2{
      top:46vw;
    }
    &.img-3-3{
      top:72vw;
    }
    &.img-3-4{
      top:98vw;
    }
  }

  &.img-4{
    left: 51vw;


    &.img-4-1{
      top: 30vw;
    }
    &.img-4-2{
      top:56vw;
    }
    &.img-4-3{
      top:82vw;
    }
    &.img-4-4{
      top:108vw;
    }
  }
  &.img-5{
    left: 68vw;

    &.img-5-1{
      top: 40vw;
    }
    &.img-5-2{
      top:66vw;
    }
    &.img-5-3{
      top:92vw;
    }
    &.img-5-4{
      top:118vw;
    }
  }
  &.img-6{
    left: 85vw;

    &.img-6-1{
      top: 50vw;
    }
    &.img-6-2{
      top:76vw;
    }
    &.img-6-3{
      top:102vw;
    }
    &.img-6-4{
      top:128vw;
    }
  }
  &.img-7{
    left: 102vw;

    &.img-7-1{
      top: 60vw;
    }
    &.img-7-2{
      top:86vw;
    }
    &.img-7-3{
      top:112vw;
    }
    &.img-7-4{
      top:138vw;
    }
  }
  &.img-0{
    left: -17vw;

    &.img-0-1{
      top: -10vw;
    }
    &.img-0-2{
      top:16vw;
    }
    &.img-0-3{
      top:42vw;
    }
    &.img-0-4{
      top:68vw;
    }
  }

}

.demo-1__gallery__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

canvas{
  opacity: .5 !important;
}

.infinite__list{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;

  li{
    position: absolute;
    top: 0;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    text-align: center;

    h1{
      font-size: 10rem;
    }
  }
}
